html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191919;
  color: #fff;
  margin: 0;
  padding: 10px;
  font-weight: 100;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
